.card-btn {
   background-color:#000000;
   color: #ffffff;
   border-style: none;
   border-radius: 10px;
   text-transform: uppercase;
   font-size: 0.9rem;
   width: 10rem;
   height: 2.2rem;
   cursor: pointer;
}

.card-btn:hover {
    background-color: #383838;
}