@import-normalize;
@import '../../assets/utils/reset.css';
@import '../../assets/utils/include-media';

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    overscroll-behavior: contain;
}

body > #root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media('>=1200px') {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.logo {
    height: 17%;
    margin: 2rem;
    @include media('>=1200px') {
        height: 40%;
        width: 50%;
    }
}