@import-normalize;
@import '../../assets/utils/reset.css';
@import '../../assets/utils/include-media';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

body > #root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media('>=laptop') {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.logo {
    height: 17%;
    margin: 2rem;
    @include media('>=laptop') {
        height: 40%;
        width: 44%;
    }
}