.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    min-height: 0;
    .card {
        display: flex;
        flex-direction: column;
        background-color: #5BEA18;
        border-radius: 10px;
        height: 90%;
        overflow: hidden;
        width: 90%;

        &__header {
            background-color: #000000;
            height: 50%;
            position: relative;
            display: inline-block;

            .card__image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px 10px 0px 0px;
            }

            .card__title {
                position: absolute;
                left: 11%;
                top: 80%;
                width: 80%;
                text-align: center;
                color: #FFFF;
                font-size: 1.8rem;
                text-shadow: 0px 4px 4px #000000;
            }

            .card__icons {
                display: flex;
                justify-content: space-between;
                position: relative;
                bottom: 10rem;
                font-size: 2.6rem;
                
                .btn {
                    border: none;
                    background: none;
                    cursor: pointer;
                    outline: inherit;
                }
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            height: 50%;
            font-size: 1.1rem;
            min-height: 0;

            .card__text {
                display: flex;
                align-items: center;
                margin-left: 1.5rem;
            }

            div > span {
                margin: 1.3rem;
            }
        }
    }
}