@import '../../assets/utils/_include-media.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        background-color: #5BEA18;
        border-radius: 10px;
        overflow: hidden;
        max-height: 750px;

        &__header {
            max-height: 50%;
            position: relative;
            background-color: transparent;
            text-align: center;
            overflow: hidden;
            
            .card__image {
                object-fit: cover;
                min-height: 100%;
            }
            
            .card__icons {
                display: flex;
                justify-content: space-between;
                position: sticky;
                bottom: 6rem;
                font-size: 2.6rem;
                
                .btn {
                    border: none;
                    background: none;
                    cursor: pointer;
                    outline: inherit;
                    @include media('>=550px') {
                        position: relative;
                        font-size: 3.5rem;
                    }
                }

                .btn:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            position: relative;
            max-height: 50%;
            font-size: clamp(1rem, 5.2vw, 1.6rem);

            .card__title {
                // position: absolute;
                align-self: center;
                margin-top: 0.5rem;
                font-size: clamp(1.75rem, 8vw, 2.5rem);
                color: #FFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            }

            .card__text {
                display: flex;
                align-items: center;
                margin: 1.6rem 0 0 .9rem;
            }

            div > span {
                margin-left: 0.4rem;
            }
        }
    }
}